.wrapper {
  position: relative;
  z-index: 1;
}

.toggleBtn {
  display: inline-block;
  font-size: 1em;
  line-height: 25px;
  cursor: pointer;
}

.options {
  position: absolute;
  z-index: 10;
  top: 6px;
  margin: 0;
  background: #fff;
  border: 1px solid #a5a5a5;
  font-size: 1em;
  font-weight: 400;
  color: #616161;
}
.option {
  padding: 0 10px;
  line-height: 1.8em;
  cursor: pointer;
}
.option:hover {
  color: #20bce6;
}
.option.active {
  color: #20bce6;
  background: #cef0fa;
}
.currentLang {
  text-decoration: underline;
}
.hide {
  display: none;
}
