.nav {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}
.navItem {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.hide {
  display: none;
}
.menuDropdown {
  position: absolute;
  z-index: 1;
  top: 25px;
  padding: 25px;
  background: #eaeaff;
}
.menuDropdownList {
  position: absolute;
  background: #fff;
  top: 25px;
}
.closeBtn {
  text-align: right;
}
.dropdownUl {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdownLi {
  padding: 10px;
  border: 1px solid blue;
}