.wrapper {
  border-bottom: 1px solid blue;
  position: relative;
}
.logo {
  font-size: 28px;
}
.menu {
  position: absolute;
  right: 0;
  top: 0;
}
.menuItem {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.hide {
  display: none;
}
.menuDropdown {
  position: absolute;
  padding: 25px;
  background: lightblue;
}
.menuDropdownList {
  position: absolute;

}
.closeBtn {
  text-align: right;
}
.dropdownUl {
  list-style: none;
  padding: 0;
}
.dropdownLi {
  padding: 10px;
  border: 1px solid blue;
}