.regionItem {
  padding: 10px 0;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}
[data-width="90px"] {
  max-width: 90px;
}
[data-width="110px"] {
  max-width: 110px;
}
[data-width="126px"] {
  max-width: 126px;
}
[data-width="160px"] {
  max-width: 160px;
}
.borderLine {
  border-bottom: 3px solid transparent;
  transition: border .2s;
}
.regionItem.selected .borderLine {
  border-color: #6b6c6e;
}
.whiteBorder.selected .borderLine {
  border-color: #fff;
}