body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.layout {
  height: 100vh;
  width: 100vw;
}

:global(.row) {
  display: flex;
}
:global(.column) {
  height: 100%;
  overflow: hidden;
}
:global(.column):first-child {
  flex: none;
  width: 245px;
}
:global(.column):nth-child(2) {
  flex: 1;
}
:global(.column):last-child {
  flex: none;
  width: 245px;
}

:global(.arrowLink) {
  padding: 10px 0 0 24px;
  font-size: 12px;
}
:global(.arrowLink .text) {
  line-height: 1.4em;
}
:global(.arrowLink .underline) {
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}
:global(.underline):before {
  content: '';
  position: absolute;
  top: 3px;
  left: -12px;
  border-left: 6px solid #4848fb;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}