body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.layout {
  height: 100vh;
  width: 100vw;
}

:global(.row) {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  overflow: hidden;
}

:global(.column) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:global(.column):first-child {
  flex: none;
  width: 10%;
  min-width: 180px;
  max-width: 400px;
}

:global(.column):nth-child(2) {
    flex:1;
    overflow: hidden;
}

:global(.column):last-child {
  flex: none;
  width: 10%;
  min-width: 180px;
  max-width: 400px;
}

:global(.arrowLink) {
  padding: 0 16px 0 24px;
  font-size: 12px;
  color: #a6a6a6;
}

:global(.arrowLink .text) {
  line-height: 1.4em;
}

:global(.arrowLink .underline) {
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}

:global(.underline):before {
  content: '';
  position: absolute;
  top: 3px;
  left: -12px;
  border-left: 6px solid #a6a6a6;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

:global(.link:hover) {
  color: darkblue;
}
