.wrapper {
  position: relative;
  z-index: 3000;
  padding: 16px 0;
}
.selectorWrapper {
  font-size: 1.2rem;
}
.btnHTR {
  position: absolute;
  top: 16px;
  right: 0;
  padding: 0 38px 0 15px;
  height: 25px;
  background: #fff;
  border: 1px solid #ef7d00;
  border-right: none;
  font-size: 14px;
  font-weight: 600;
  color: #ef7d00;
  line-height: 23px;
  letter-spacing: .075em;
  cursor: pointer;
  transition: all .4s;
}
.btnIcon {
  position: absolute;
  right: 15px;
  line-height: 22px;
}
.active {
  background: #ef7d00;
  color: #fff;
}
.hide {
  display: none!important;
}


.dropdown {
  display: flex;
  position: absolute;
  right: 0;
  padding: 10px 20px;
  max-width: 834px;
  background: #f5f5f5;
  font-size: 14px;
  color: #616161;
  box-shadow: 0 0 20px rgba(160, 160, 160, .6);
  overflow: auto;
}
.dropdownCol {
  flex: 1;
  padding: 0 24px;
  min-width: 360px;
  line-height: 1.5em;
}
.image1 {
  margin-left: -20px;
  margin-right: -20px;
}
.image2,
.image3 {
  text-align: center;
}
.esr {
  color: #00a551;
}
.cpr {
  color: #2e65a1;
}
@media (max-width: 760px) {
  .dropdown {
    display: block;
  }
}