.wrapper {
  position: fixed;
  z-index: 4000;
  background: #fff;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #9b9b9d;
}
.isBlur {
  filter: blur(2px);
}
.logo {
  display: inline-block;
  padding: 18px 4px 0 32px;
  background: #fff;
}
.logoImg {
  height: 44px;
}