.geoPage {
  padding-top: 60px;
  height: 100%;
}

.columnLeft,
.columnMiddle,
.columnRight {
  padding: 0 24px;
}

.searchInput {
  padding: 0 10px;
  height: 30px;
  width: 90%;
  border: 1px solid #3bc4e9;
  font-size: 14px;
  color: #6b6c6e;
  outline: none;
}
.searchInput::placeholder {
  color: #3bc4e9;
}
.regionList {
  padding-top: 20px;
  color: #6b6c6e;
  overflow: auto;
}

.countriesList {
  overflow: auto;
}
.CountryItem {
  display: inline-block;
  flex: none;
  width: 180px;
  height: 120px;
  border: 1px solid #2f2ffd;
  cursor: default;
}
.chartsFooter {
  padding-top: 20px;
  padding-bottom: 32px;
  font-size: 12px;
}

.columnRight {
  height: 100%;
  overflow: auto;
}