geoPage {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  height: 100%;
}

.columnLeft {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 24px;
}
.columnMiddle{
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  height: 100%;
}

.regionList {
  flex: 1 1 auto;
  padding-top: 20px;
  color: #6b6c6e;
  overflow: auto;
}

.chartsHeader {
  flex: 0 0 auto;
  padding-bottom: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #58595b;
}
.title {
  font-size: 18px;
  /*flex: 1;*/
}
.standard {
  /*flex: 3;*/
  margin-top: 4px;
}

.gridWrapper {
  flex: 1 1 auto;
  display: flex;
  position: relative;
}
.gridWrapper:before,
.gridWrapper:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 8px;
  z-index: 2;
}
.gridWrapper:before {
  top: 0;
  height: 30px;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, .01));
}
.gridWrapper:after {
  bottom: 0;
  height: 30px;
  background: linear-gradient(0deg, #fff, rgba(255, 255, 255, .01));
}
.countriesList {
  padding: 15px;
  flex: 1;
  overflow: auto;
}
.countriesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 15px;
}
.countriesContainer span{
    font-weight:bold;
    font-size: 14px;
}
.countriesList::-webkit-scrollbar {
  background: transparent;
  width: 4px;
}
.countriesList::-webkit-scrollbar-thumb {
  display: none;
  background: #eee;
  border-radius: 4px;
  opacity: 0;
}
.countriesList:hover::-webkit-scrollbar-thumb {
  display: block;
  opacity: 1;
}

.countryCard {
  position: relative;
  padding: 15px 0;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
/*.countryCard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}*/
.countryCard .cardCover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8);
}

.chartsFooter {
  flex: 0 0 auto;
  position: relative;
  padding: 6px 0 30px;
  font-size: 12px;
}
.chartsFooter .small {
  font-size: .9em;
  color: #9a9a9a;
}
.downloadPopupWrapper {
  position: absolute;
  top: 6px;
  height: 32px;
  width: 32px;
  z-index: 20;
}
.chartsFooter .source {
  padding-left: 42px;
  color: #9a9a9a;
}
.chartsFooter .text {
  padding-left: 42px;
  color: #616161;
}

.columnRight {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  padding:  0 4px;
  height: 100%;
}
.columnRight:before,
.columnRight:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 8px;
  z-index: 20;
}
.columnRight:before {
  top: 0;
  height: 10px;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, .01));
}
.columnRight:after {
  bottom: 0;
  height: 20px;
  background: linear-gradient(0deg, #fff 40%, rgba(255, 255, 255, .01));
}
.rightPaneWrapper {
  flex: 1;
  padding: 10px 10px 20px 0;
  overflow: auto;
}
.rightPaneWrapper::-webkit-scrollbar {
  background: transparent;
  width: 4px;
}
.rightPaneWrapper::-webkit-scrollbar-thumb {
  display: none;
  background: #eee;
  border-radius: 4px;
  opacity: 0;
}
.rightPaneWrapper:hover::-webkit-scrollbar-thumb {
  display: block;
  opacity: 1;
}

.esrTitle,
.cprTitle {
  padding-left: 14px;
  font-size: 18px;
  font-weight: 600;
}
.esrTitle {
  color: #009540;
}
.cprTitle {
  color: #262262;
}
.esrList {
  margin-bottom: 16px;
}
.rightsItem {
  cursor: pointer;
}
.chartCaption {
  position: relative;
  margin: 6px 0;
  padding-left: 14px;
  font-size: 14px;
  color: #6b6c6e;
  line-height: 1em;
}
.chartCaption:before {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #eee;
}

.specRightInfo {
  display: flex;
  flex-direction: column;
}

.specRightHeader {
  flex: 0 0 auto;
  padding-right: 16px;
}
.rightName,
.rightCate {
  padding-left: 20px;
  cursor: pointer;
}
.rightName {
  font-weight: 600;
}
.rightCate {
  margin-bottom: 14px;
}
.linkWrapper {
  margin: 14px 0 0;
}

.definitionWrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 4px;
}
.definitionWrapper:before,
.definitionWrapper:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 8px;
}
.definitionWrapper:before {
  top: 0;
  height: 26px;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, .2));
}
.definitionWrapper:after {
  bottom: 0;
  height: 30px;
  background: linear-gradient(0deg, #fff 20%, rgba(255, 255, 255, .01));
}
.rightInfo {
  flex: 1 1 auto;
  padding: 20px 16px 30px 24px;
  height: 100%;
  width: 100%;
  font-size: 13px;
  color: #58595b;
  line-height: 1.6em;
  overflow: auto;
}
.rightInfo::-webkit-scrollbar {
  background: transparent;
  width: 4px;
}
.rightInfo::-webkit-scrollbar-thumb {
  display: none;
  background: #bdbdbd;
  border-radius: 4px;
  opacity: 0;
}
.rightInfo:hover::-webkit-scrollbar-thumb {
  display: block;
  opacity: 1;
}
/*.esrRightHeader {
  color: #00b95f;
}
.cprRightHeader {
  color: #2e65a1;
}*/
.rightName {
  font-size: 16px;
}
.rightCate {
  font-size: 12px;
}
.rightName {
  font-size: 16px;
}
.rightCate {
  font-size: 12px;
}
[rightcolor='food'] .chartCaption:before {
  background: #009540;
}
[rightcolor='education'] .chartCaption:before {
  background: #00af49;
}
[rightcolor='work'] .chartCaption:before {
  background: #00e25b;
}
[rightcolor='housing'] .chartCaption:before {
  background: #00d556;
}
[rightcolor='health'] .chartCaption:before {
  background: #00c852;
}
[rightcolor='opinion-and-expression'] .chartCaption:before {
  background: #262262;
}
[rightcolor='assembly-and-association'] .chartCaption:before {
  background: #2a4482;
}
[rightcolor='freedom-from-execution'] .chartCaption:before {
  background: #3c9dd1;
}
[rightcolor='freedom-from-torture'] .chartCaption:before {
  background: #3187c1;
}
[rightcolor='participate-in-government'] .chartCaption:before {
  background: #2e65a1;
}
[rightcolor='freedom-from-arbitrary-arrest'] .chartCaption:before {
  background: #46b3e0;
}
[rightcolor='freedom-from-disappearance'] .chartCaption:before {
  background: #51c9f0;
}

.specRightHeader[rightcolor='food'],
.specRightHeader[rightcolor='education'],
.specRightHeader[rightcolor='work'],
.specRightHeader[rightcolor='housing'],
.specRightHeader[rightcolor='health'] {
  color: #009540;
}
.specRightHeader[rightcolor='opinion-and-expression'],
.specRightHeader[rightcolor='assembly-and-association'],
.specRightHeader[rightcolor='freedom-from-execution'],
.specRightHeader[rightcolor='freedom-from-torture'],
.specRightHeader[rightcolor='participate-in-government'],
.specRightHeader[rightcolor='freedom-from-arbitrary-arrest'],
.specRightHeader[rightcolor='freedom-from-disappearance'] {
  color: #262262;
}
