.geoPage {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  height: 100%;

}

.columnLeft {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 24px;
}
.columnMiddle{
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.searchInputWrapper {
  flex: 0 0 auto;
}
.searchInput {
  padding: 0 10px;
  height: 25px;
  width: 90%;
  max-width: 128px;
  border: 1px solid #3bc4e9;
  font-size: 14px;
  color: #6b6c6e;
  outline: none;
}
.searchInput::placeholder {
  color: #3bc4e9;
}
.regionList {
  flex: 1 1 auto;
  padding-top: 20px;
  color: #6b6c6e;
  overflow: auto;
}

.chartsHeader {
  flex: 0 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #58595b;
}
.title {
  font-size: 18px;
  /*flex: 1;*/
}
.standard {
  /*flex: 3;*/
  margin-top: 4px;
}

.countriesList {
  flex: 1 1 auto;
  overflow: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 15px;
}
.countriesList::-webkit-scrollbar {
  background: transparent;
  width: 4px;
}
.countriesList::-webkit-scrollbar-thumb {
  display: none;
  background: #eee;
  border-radius: 4px;
  opacity: 0;
}
.countriesList:hover::-webkit-scrollbar-thumb {
  display: block;
  opacity: 1;
}

.countryCard {
  padding: 15px 0;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.countryCard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.chartsFooter {
  flex: 0 0 auto;
  position: relative;
  padding: 6px 0 30px;
  font-size: 12px;
}
.chartsFooter .small {
  font-size: .9em;
  color: #c5c5c6;
}
.downloadPopupWrapper {
  position: absolute;
  top: 6px;
  height: 32px;
  width: 32px;
}
.chartsFooter .source {
  padding-left: 42px;
  color: #c5c5c6;
}
.chartsFooter .text {
  padding-left: 42px;
  color: #8d8e90;
}

.columnRight {
  flex: 1 1 auto;
  padding: 0 16px 0 22px;
  height: 100%;
  overflow: auto;
}
.columnRight::-webkit-scrollbar {
  background: transparent;
  width: 4px;
}
.columnRight::-webkit-scrollbar-thumb {
  display: none;
  background: #eee;
  border-radius: 4px;
  opacity: 0;
}
.columnRight:hover::-webkit-scrollbar-thumb {
  display: block;
  opacity: 1;
}

.esrTitle,
.cprTitle {
  padding-left: 14px;
  font-size: 18px;
  font-weight: 600;
}
.esrTitle {
  color: #00af49;
}
.cprTitle {
  color: #2e65a1;
}
.esrList {
  margin-bottom: 16px;
}
.rightsItem {
  cursor: pointer;
}
.chartCaption {
  position: relative;
  margin: 6px 0;
  padding-left: 14px;
  font-size: 14px;
  color: #6b6c6e;
  line-height: 1em;
}
.chartCaption:before {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #eee;
}
.chartWrapper {
  margin-left: 14px;
  height: 18px;
  border: 1px solid #eee;
}
/*.esrRightHeader {
  color: #00b95f;
}
.cprRightHeader {
  color: #2e65a1;
}*/
.rightName {
  font-size: 16px;
}
.rightCate {
  font-size: 12px;
}
.rightName {
  font-size: 16px;
}
.rightCate {
  font-size: 12px;
}
[rightcolor='food'] .chartCaption:before {
  background: #00a255;
}
[rightcolor='education'] .chartCaption:before {
  background: #00b95f;
}
[rightcolor='work'] .chartCaption:before {
  background: #00ce6a;
}
[rightcolor='housing'] .chartCaption:before {
  background: #00d96e;
}
[rightcolor='health'] .chartCaption:before {
  background: #00e374;
}
[rightcolor='opinion-and-expression'] .chartCaption:before {
  background: #342f73;
}
[rightcolor='assembly-and-association'] .chartCaption:before {
  background: #365692;
}
[rightcolor='freedom-from-execution'] .chartCaption:before {
  background: #3778ae;
}
[rightcolor='freedom-from-torture'] .chartCaption:before {
  background: #3598ca;
}
[rightcolor='participate-in-government'] .chartCaption:before {
  background: #33b5e4;
}
[rightcolor='freedom-from-arbitrary-arrest'] .chartCaption:before {
  background: #56d1f1;
}
[rightcolor='freedom-from-disappearance'] .chartCaption:before {
  background: #72ecfe;
}
.specRightHeader[rightcolor='food'] {
  color: #00a255;
}
.specRightHeader[rightcolor='education'] {
  color: #00b95f;
}
.specRightHeader[rightcolor='work'] {
  color: #00ce6a;
}
.specRightHeader[rightcolor='housing'] {
  color: #00d96e;
}
.specRightHeader[rightcolor='health'] {
  color: #00e374;
}
.specRightHeader[rightcolor='opinion-and-expression'] {
  color: #342f73;
}
.specRightHeader[rightcolor='assembly-and-association'] {
  color: #365692;
}
.specRightHeader[rightcolor='freedom-from-execution'] {
  color: #3778ae;
}
.specRightHeader[rightcolor='freedom-from-torture'] {
  color: #3598ca;
}
.specRightHeader[rightcolor='participate-in-government'] {
  color: #33b5e4;
}
.specRightHeader[rightcolor='freedom-from-arbitrary-arrest'] {
  color: #56d1f1;
}
.specRightHeader[rightcolor='freedom-from-disappearance'] {
  color: #72ecfe;
}
