.secSelector {
  text-align: center;
  color: #262261;
  letter-spacing: .025em;
}
.title {
  margin: 2em 0;
  font-weight: 700;
  font-size: 1.2em;
}
.btnContainer {
  line-height: 1em;
}
.secBtn {
  display: inline-block;
  margin: 0 2em;
  padding: 0 0 4px;
  border-bottom: 2px solid transparent;
  line-height: 1em;
  cursor: pointer;
  transition: border .2s;
}
.secBtn:first-child {
  min-width: 170px;
}
.secBtn:last-child {
  min-width: 212px;
}
.secBtn:hover {
  font-weight: 700;
}
.zeroMargin {
  margin: 0;
}
.secBtn.selected {
  min-width: 0;
  border-color: #25a9e0;
  font-weight: 700;
}