@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.storyWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, .5);
  color: #616161;
  transition: opacity 1s;
}

.storyPopup {
  position: absolute;
  top: 70px;
  right: 30px;
  bottom: 70px;
  left: 30px;
  background: #fff;
  border: 1px solid #a6a6a6;
  transition: all 1s;
  animation: slideInDown 1s;
}

.popupBody {
  height: 100%;
  width: 100%;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.closeBtn:before,
.closeBtn:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid #a6a6a6;
}
.closeBtn:before {
  transform: rotate(45deg);
}
.closeBtn:after {
  transform: rotate(-45deg);
}

.columnLeft {
  float: left;
  padding: 0 30px;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.langSelector {
  padding: 24px 0;
  text-align: left;
}
.countryName {
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.linkWrapper {
  display: inline-block;
  padding: 20px 0 30px;
  text-align: left;
}

.columnRight {
  float: left;
  padding: 80px 40px 80px 0;
  height: 100%;
  font-size: 16px;
  overflow: auto;
}
.columnRight p {
  margin: 0;
}
.columnRight section {
  position: relative;
  margin: 24px 0;
  padding-right: 160px;
}
.articleTitle {
  /*margin: 80px 0 20px;*/
  font-size: 24px;
}
.boldText {
  font-weight: 600;
  line-height: 1.4em;
}
.imageWrapper {
  position: relative;
}
.imageWrapper img {
  width: 60%;
}
.imageLegend,
.imageSource {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 10px;
  width: 40%;
  font-size: 12px;
  line-height: 1.2em;
  color: #427fb2;
}
.imageSource {
  top: auto;
  bottom: 4px;
  font-size: 11px;
  line-height: 1.2em;
}
.cprCaption,
.esrCaption {
  font-size: 16px;
  font-weight: 600;
  color: #427fb2;
}
.cprSubTitle,
.esrSubTitle {
  font-size: 14px;
  color: #427fb2;
}
.esrCaption,
.esrSubTitle {
  color: #20c273;
}
.radarWrapper > div {
  float: left;
}
.radarWrapper:after {
  content: '';
  display: block;
  clear: both;
}
.radarCol {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  width: 50%;
  text-align: center;
}
.radarCountryName {
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
}
.fakeRadar {
  width: 380px;
  height: 380px;
  margin: 10px;
  background: #f3f3f3;
  border-radius: 50%;
}
.links {
  position: absolute;
  right: 0;
  width: 160px;
}
.topLink .links {
  top: 0;
}
.bottomLink .links {
  bottom: 0;
}
.sectionSelector {
  padding: 20px 0 50px;
  font-size: 16px;
  text-align: center;
}
.sectionSelector .title,
.sectionSelector .subtitle {
  margin: 0;
}
.sectionSelector .subtitle {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}
/*.fixedContainer {
  position: absolute;
  padding: 40px 15%;
  width: 100%;
}*/
/*.countryIntro {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  line-height: 1.4em;
}
*/
/*
.columnRight .section {
  position: relative;
}
.section:last-child {
  padding: 20px 0 50px;
  font-size: 16px;
  text-align: center;
}
.columnRight .links {
  position: absolute;
  right: -160px;
  bottom: 0;
  width: 120px;
}

.title {
  margin: 80px 0 20px;
  font-size: 24px;
}
.subtitle {
  margin: 0 0 10px;
  font-size: 16px;
}
.paragraph {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 1.4em;
}

.articleGraph {
  margin: 0 0 20px;
  height: 140px;
  border: 1px solid #4848fb;
}

.articleImg {
  margin: 0 0 20px;
  display: flex;
}
.articleImg .image {
  flex: 3;
  height: 140px;
  background: #4848fb;
}
.articleImg .desc {
  flex: 2;
  font-size: 12px;
  padding-left: 20px;
}*/
