.esrLegend .text {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  padding-left: 20px;
}
.esrLegend .text:before {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  height: 12px;
  width: 12px;
  background: #00b95f;
  border-radius: 6px;
}
.esrLegend .text:last-child:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  height: 4px;
  width: 4px;
  background: #00b95f;
  border: 2px solid #fff;
  border-radius: 5px;
}
.rightBarchartWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.headerWrapper{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.titles{
  order:0;
  align-self: center;
  flex-grow: 2;
}  
.cprLegend {
  display: flex;
  font-size: 12px;
  color: #616161;
  order:1;
}
.cprLegend .bar {
  flex: 0 0 auto;
  position: relative;
  margin: 0 4px;
  height: 30px;
  width: 8px;
  background: #2E65A1;
}
.cprLegend .bar:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  width: 100%;
  border: 1px solid #fff;
}
.meanText {
  flex: 0 0 auto;
  line-height: 30px;
}
.meanText:after {
  content: ' \2014';
}
.textContainer {
  flex: 1;
  position: relative;
  width: 90px;
}
.maxText,
.minText {
  position: absolute;
  line-height: 1em;
  min-width: 90px;
}
.maxText sup,
.minText sup {
  font-size: .8em;
}
.maxText {
  top: -.8em;
}
.minText {
  bottom: -.3em;
}
.maxText:before,
.minText:before {
  content: '\2014 ';
}.maxText:before,
.minText:before {
  content: '\2014 ';
}
.questionTooltip {
    align-self: center;
    order: 2;
}
@keyframes slideInDown {
  from {
    opacity: .6;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.storyWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, .5);
  color: #616161;
  transition: opacity 1s;
}

.storyPopup {
  position: absolute;
  top: 50px;
  right: 30px;
  bottom: 50px;
  left: 30px;
  background: #fff;
  border: 1px solid #a6a6a6;
  transition: all 1s;
  animation: slideInDown 1s;
  display: flex;
  flex-direction: column;
 }
  
.popupBody {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content:center;
  overflow:auto;
}

.footer,
.closeBtn {
  position: absolute;
  right: 20px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  /* width: 30px; */
  width: calc(100% - 30px);
  background: linear-gradient(180deg, #fff 30px, rgba(255, 255, 255, .01));
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  cursor: pointer;
}
.closeBtn {
  order:0;
  height: 50px;
}
.footer {
  bottom: 0;
  height: 30px;
  background: linear-gradient(0deg, #fff 10px, rgba(255, 255, 255, .01));
}
.closeBtn:before,
.closeBtn:after {
  content: '';
  display: block;
  position: absolute;
  top:  14px;
  right: 8px;
  border-left: 8px solid #616161;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.closeBtn:before {
  border-radius: 4px;
}
.closeBtn:after {
  right: 11px;
  border-left: 8px solid #fff;
}

.columnLeft {
  overflow: hidden;
  width: calc(100% / 3 * 1);
  padding: 0 30px;
  display:flex;
  flex-flow:column;
  align-items: center;
}
.langSelector {
  padding: 24px 0;
  width: 80px;
  font-size: 12px;
  text-align: left;
  align-self: flex-start;
}
.chartTitle {
  margin: 20px auto 0;
  max-width: 320px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}
.graph {
  margin-top: -20px;
}
.linkWrapper {
  display: inline-block;
  margin-top: -20px;
  text-align: left;
  align-self: flex-start;
}

.columnRight {
  height: 100%;
  font-size: 16px;
  overflow: auto;
  padding: 80px 40px 80px 0;
  margin: 0 0.5rem;
  width: calc(100% / 3 * 2);
  flex-grow:1;
  text-align:left;
}
.columnRight section {
  position: relative;
  margin: 24px 0;
  padding-right: 144px;
  min-width: 350px;
}
.columnRight a {
  color: #616161;
}
.columnRight a:hover {
  color: steelblue;
}

.normalText {
  margin: 0;
  margin-bottom: 16px;
}

.articleTitle {
  margin: 0;
  font-size: 24px;
}
.boldText {
  font-weight: 600;
  line-height: 1.4em;
}
.imageWrapper {
  position: relative;
  min-height: 160px;
}
.imageWrapper img {
  width: 60%;
}
.imageLegend,
.imageSource {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 10px;
  width: 40%;
  font-size: 12px;
  line-height: 1.2em;
  color: #427fb2;
}
.imageSource {
  top: auto;
  bottom: 4px;
  font-size: 11px;
  line-height: 1.2em;
}
.cprCaption,
.esrCaption {
  font-size: 16px;
  font-weight: 600;
  color: #427fb2;
}
.cprSubTitle,
.esrSubTitle {
  font-size: 14px;
  color: #427fb2;
}
.esrCaption,
.esrSubTitle {
  color: #20c273;
}


    
.radarWrapper {
    display: flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
    margin: 0 !important;
    padding: 0 !important;
}
.radarCountryName {
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
}

.links {
  position: absolute;
  right: 0;
  bottom: -72px;
  width: 144px;
}

.sectionSelector {
  padding: 20px 0 50px;
  font-size: 16px;
  text-align: center;
}
.sectionSelector .title,
.sectionSelector .subtitle {
  margin: 0;
}
.sectionSelector .subtitle {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.footnote {
  font-size: 12px;
}


@media screen and (max-width:1500px){
    .columnRight{
        width: 50%;
        padding:30px 0;
    }
    .columnLeft{
        width: 50%;
        padding:30px 30px;
    }
}
