.esrLegend .text {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  padding-left: 20px;
}
.esrLegend .text:before {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  height: 12px;
  width: 12px;
  background: #00b95f;
  border-radius: 6px;
}
.esrLegend .text:last-child:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  height: 4px;
  width: 4px;
  background: #00b95f;
  border: 2px solid #fff;
  border-radius: 5px;
}
.rightBarchartWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.headerWrapper{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.titles{
  order:0;
  align-self: center;
  flex-grow: 2;
}  
.cprLegend {
  display: flex;
  font-size: 12px;
  color: #616161;
  order:1;
}
.cprLegend .bar {
  flex: 0 0 auto;
  position: relative;
  margin: 0 4px;
  height: 30px;
  width: 8px;
  background: #2E65A1;
}
.cprLegend .bar:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  width: 100%;
  border: 1px solid #fff;
}
.meanText {
  flex: 0 0 auto;
  line-height: 30px;
}
.meanText:after {
  content: ' \2014';
}
.textContainer {
  flex: 1;
  position: relative;
  width: 90px;
}
.maxText,
.minText {
  position: absolute;
  line-height: 1em;
  min-width: 90px;
}
.maxText sup,
.minText sup {
  font-size: .8em;
}
.maxText {
  top: -.8em;
}
.minText {
  bottom: -.3em;
}
.maxText:before,
.minText:before {
  content: '\2014 ';
}.maxText:before,
.minText:before {
  content: '\2014 ';
}
.questionTooltip {
    align-self: center;
    order: 2;
}
@keyframes slideInDown {
  from {
    opacity: .6;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.storyWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, .5);
  color: #616161;
  transition: opacity 1s;
}

.storyPopup {
  position: absolute;
  top: 50px;
  right: 30px;
  bottom: 50px;
  left: 30px;
  background: #fff;
  border: 1px solid #a6a6a6;
  transition: all 1s;
  animation: slideInDown 1s;
  display: flex;
  flex-direction: column;
 }
  
.popupBody {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content:center;
  overflow:auto;
}
.columnLeft {
  overflow: hidden;
  width: 40%;
  padding: 0 30px;
  display:flex;
  flex-flow:column;
  align-items: center;
}
.langSelector {
  padding: 24px 0;
  width: 80px;
  font-size: 12px;
  text-align: left;
  align-self: flex-start;
}
.chartTitle {
  margin: 20px auto 0;
  max-width: 320px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}
.graph {
  margin-top: -20px;
  margin-left: 13px;
}
.linkWrapper {
  display: inline-block;
  margin-top: -20px;
  text-align: left;
  align-self: flex-end;
}

.columnRight {
  height: 100%;
  font-size: 16px;
  overflow: auto;
  padding: 80px 40px 80px 0;
  margin: 0 0.5rem;
  width: 60%;
  flex-grow:1;
  text-align:left;
}
.columnRight section {
  padding-right: 144px;
  position: relative;
  margin: 24px 0;
}
.columnRight a {
  color: #616161;
}
.columnRight a:hover {
  color: steelblue;
}

.normalText {
  margin: 0;
  margin-bottom: 16px;
}

.articleTitle {
  margin: 0;
  font-size: 24px;
}
.boldText {
  font-weight: 600;
  line-height: 1.4em;
}
.imageWrapper {
  position: relative;
  min-height: 160px;
}
.imageWrapper img {
  width: 60%;
}
.imageLegend,
.imageSource {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 10px;
  width: 40%;
  font-size: 12px;
  line-height: 1.2em;
  color: #427fb2;
}
.imageSource {
  top: auto;
  bottom: 4px;
  font-size: 11px;
  line-height: 1.2em;
}
.cprCaption,
.esrCaption {
  font-size: 16px;
  font-weight: 600;
  color: #427fb2;
}
.cprSubTitle,
.esrSubTitle {
  font-size: 14px;
  color: #427fb2;
}
.esrCaption,
.esrSubTitle {
  color: #20c273;
}


    
.radarWrapper {
    display: flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
    margin: 0 !important;
    padding: 0 !important;
}
.radarCountryName {
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
}

.links {
  position: absolute;
  right: 0;
  bottom: -72px;
  width: 144px;
}

.sectionSelector {
  padding: 20px 0 50px;
  font-size: 16px;
  text-align: center;
}
.sectionSelector .title,
.sectionSelector .subtitle {
  margin: 0;
}
.sectionSelector .subtitle {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.footnote {
  font-size: 12px;
}
.mobileTitle{
    display: none;
}
.langSelectorMobile{
    display: none;
}

@media screen  and (min-width : 768px) and (max-width : 1359px)  {
   .hideTitle{
        display: none;
    }
    .mobileTitle{
        display: block;
        margin-top: 50px;
    }
    .popupBody{
       display: flex;
       flex-direction: column;
       overflow: auto;
       justify-content: flex-start;
    }
    .columnRight{
        flex: none;
        width: 100% !important;
        overflow: visible;
        margin:0;
        padding: 40px 20px 40px 0;
    }
    .columnRight section{
        padding-left: 144px;
    }
    .fixPaddingWrapperChart{
        padding-left: 0 !important;
    }
    .columnLeft{
        flex: none;
        width: 100%;
    }
    .header{
        height: 40px;
    }
    .langSelector{
        display: none;
    }
    .lang{
        visibility: visible !important;
    }
    .close{
        margin-top: 0;
        margin-right: 0;
    }
}
.header{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 35px;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    align-items: center;
    align-content: center;
    background: linear-gradient(180deg, #fff 30px, rgba(255, 255, 255, .01));
    padding-left: 25px;
    padding-right: 25px;
}
.lang{
    visibility: hidden;
    display: block;
    align-self: center;
    font-size: 12px;
    text-align: left;
}
.close{
    align-self: center;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
} 
.fixPaddingWrapperChart{
    padding-left: 144px;
}
