.rightsPage {
  padding-top: 60px;
  height: 100%;
}

.columnLeft {
  position: relative;
  padding: 0 0 0 25px;
  height: 100%;
}

.toggleSwitch {
  position: relative;
  font-size: 16px;
  text-decoration: underline;
  line-height: 1.4em;
  color: #25a9e0;
  cursor: pointer;
}
.toggleSwitch:after {
  content: '';
  position: absolute;
  bottom: 5px;
  margin-left: 4px;
  border-top: 8px solid #25a9e0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.regionSelector.show .toggleSwitch:after {
  border-top: none;
  border-bottom: 8px solid #25a9e0;
}
.regionDropdown {
  display: none;
  position: absolute;
  left: 5%;
  top: 20px;
  z-index: 10;
  margin: 0;
  padding: 40px 30px;
  width: 95%;
  background: #25a9e0;
  color: #fff;
}
.regionSelector.show .regionDropdown{
  display: block;
}

.rightsWrapper {
  position: relative;
}
.rightsWrapper:before,
.rightsWrapper:after {
  content: '';
  position: absolute;
  left: 0;
  right: 4px;
  height: 26px;
}
.rightsWrapper:before {
  top: 0;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, .2));
}
.rightsWrapper:after {
  bottom: 0;
  background: linear-gradient(0deg, #fff 20%, transparent);
}
.rightList {
  padding: 20px 0;
  height: 100%;
  max-width: 232px;
  overflow: auto;
}
.rightList::-webkit-scrollbar {
  background: transparent;
  width: 4px;
}
.rightList::-webkit-scrollbar-thumb {
  display: none;
  background: #eee;
  border-radius: 4px;
  opacity: 0;
}
.rightList:hover::-webkit-scrollbar-thumb {
  display: block;
  opacity: 1;
}
.ESRTitle,
.CPRTitle {
  padding-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #9b9b9d;
  letter-spacing: .025em;
}
.CPRTitle {
  margin-top: 20px;
}
.rightItemWrapper {
  font-size: 14px;
  color: #9b9b9d;
  line-height: 1.2em;
  cursor: pointer;
}
.rightItem,
.rightSubItem {
  margin-top: 11px;
  cursor: pointer;
}
.rightItem {
  max-width: 120px;
}
.rightSubItem {
  padding-left: 20px;
  max-width: 200px;
}
.borderLine {
  border-bottom: 3px solid transparent;
  transition: border .2s;
}
.rightItemWrapper.selected .borderLine {
  border-color: #9b9b9d;
}

.chartsHeader {
  display: flex;
  padding: 0 20px;
  color: #9d9e9f;
}
.regionName {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
}
.sortBy {
  flex: 1;
  font-size: 13px;
}
.chartsContainer {
  overflow: hidden;
}
.chartsFooter {
  position: relative;
  padding: 20px 0 30px;
  font-size: 12px;
}
.chartsFooter .small {
  font-size: .9em;
  color: #c5c5c6;
}
.downloadIcon {
  position: absolute;
  top: 26px;
  height: 24px;
  width: 24px;
}
.chartsFooter .source {
  padding-left: 42px;
  color: #c5c5c6;
}
.chartsFooter .text {
  padding-left: 42px;
  color: #8d8e90;
}

.rightInfo {
  padding: 0 24px 14px;
  font-size: 16px;
}
.rightInfo.esrs {
  color: #00b95f;
}
.rightInfo.cprs {
  color: #2e65a1;
}
.rightInfo .rightName {
  font-weight: 600;
}
.rightInfo .regionName {
  font-size: 14px;
}
.infoContent {
  position: relative;
  padding-right: 4px;
  color: #616161;
}
.infoContent:before,
.infoContent:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 8px;
}
.infoContent:before {
  top: 0;
  height: 26px;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, .2));
}
.infoContent:after {
  bottom: 0;
  height: 30px;
  background: linear-gradient(0deg, #fff 20%, transparent);
}
.textWrapper {
  padding: 20px 24px 30px;
  height: 100%;
  width: 100%;
  font-size: 13px;
  color: #9b9b9d;
  line-height: 1.2em;
  overflow: auto;
}
.textWrapper::-webkit-scrollbar {
  background: transparent;
  width: 4px;
}
.textWrapper::-webkit-scrollbar-thumb {
  display: none;
  background: #bdbdbd;
  border-radius: 4px;
  opacity: 0;
}
.textWrapper:hover::-webkit-scrollbar-thumb {
  display: block;
  opacity: 1;
}
.definition {
  margin: 0;
}
.defList {
  position: relative;
  margin: 0;
  padding-left: 10px;
}
.defList:first-child {
  padding-left: 0;
}
.defList:before {
  content: ''; 
  display: block;
  position: absolute;
  top: .6em;
  left: 0;
  height: 3px;
  width: 3px;
  background: #9b9b9d;
}
.defList:first-child:before {
  display: none;
}
.measureQues {
  font-size: 14px;
  font-weight: 600;
}
.indicatorQues {
  margin: 14px 0;
  text-decoration: underline;
}
.withDot {
  position: relative;
}
.withDot:before {
  content: '';
  position: absolute;
  top: .4em;
  left: -14px;
  height: 4px;
  width: 4px;
  border: 1px solid #9b9b9d;
  border-radius: 4px;
}
