.rightsPage {
  padding-top: 60px;
  height: 100%;
}

.columnLeft {
  position: relative;
  padding: 0 0 0 25px;
  height: 100%;
}

.toggleSwitch {
  position: relative;
  font-size: 14px;
  text-decoration: underline;
  line-height: 1.4em;
  color: #25a9e0;
  cursor: pointer;
}
.toggleSwitch:after {
  content: '';
  position: absolute;
  bottom: 5px;
  margin-left: 4px;
  border-top: 8px solid #25a9e0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.regionSelector.show .toggleSwitch:after {
  border-top: none;
  border-bottom: 8px solid #25a9e0;
}
.regionDropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 20px;
  margin: 0;
  padding: 0 24px;
  height: calc(100% - 20px);
  width: 100%;
  background: #25a9e0;
  color: #fff;
}
.regionSelector.show .regionDropdown{
  display: block;
}
.regionItem {
  margin: 24px 0;
  font-size: 16px;
  line-height: 1.2em;
  cursor: default;
}
.rightBorder { 
  border-bottom: 2px solid transparent;
  transition: border .2s;
}
.regionItem.selected .rightBorder{
  border-color: #fff;
}

.ESRTitle,
.CPRTitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #00a551;
  letter-spacing: .025em;
}
.CPRTitle {
  color: #2e65a1;
}
.rightItem {
  margin-top: 10px;
  max-width: 120px;
  font-size: 14px;
  color: #9b9b9d;
  line-height: 1em;
  cursor: default;
}
.borderLine {
  composes: rightBorder;
}
.rightItem.selected .borderLine {
  border-color: #9b9b9d;
}
