.countryPage {
  padding-top: 50px;
  height: 100%;
}

.columnLeft {
  padding: 0 24px 0 30px;
}

.hintText {
  font-size: 12px;
  text-decoration: underline;
}
.backLink {
  display: inline-block;
  position: relative;
  margin: 10px 0;
  font-size: 14px;
  border-bottom: 3px solid #2f2ffd;
  cursor: pointer;
}
.backLink:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -16px;
  margin-top: -6px;
  border-right: 8px solid #4848fb;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.countriesList {
  margin: 5px 0;
}
.countryItem {
  line-height: 16px;
}
.countryName {
  display: inline-block;
  font-size: 12px;
  border-bottom: 2px solid transparent;
  line-height: 1em;
  cursor: default;
}
.countryName.selected {
  border-color: #2f2ffd;
}

.detailCountry {
  text-transform: uppercase;
}
