.countryPage {
  padding-top: 60px;
  height: 100%;
}

.backBtn {
  display: inline-block;
  position: relative;
  padding: 4px 10px 4px 30px;
  width: 80%;
  border: 1px solid #9b9b9d;
  text-transform: uppercase;
  font-variant: small-caps;
  color: #9b9b9d;
  cursor: pointer;
}
.backBtn:hover,
.backBtn:active {
  background: #f6f7f7;
  border-color: #58595b;
}
.backBtn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 12px;
  margin-top: -6px;
  border-right: 8px solid #9b9b9d;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.backBtn:hover:before,
.backBtn:active:before {
  border-right-color: #58595b;
}
.hintText {
  font-size: 12px;
}
.backLink {
  font-size: 12px;
  font-weight: 700;
}
.backBtn:hover .backLink,
.backBtn:active .backLink {
  color: #58595b;
}


.countriesList {
  padding: 10px 0;
  font-size: 12px;
  letter-spacing: .025em;
  color: #9b9b9d;
}
.countryItem {
  margin: 4px 0;
  padding-left: 30px;
  line-height: 1.2em;
}
.countryName {
  display: inline-block;
  line-height: 1em;
  cursor: default;
}
.countryName.selected {
  font-weight: 700;
  color: #58595b;
}

.detailCountry {
  text-transform: uppercase;
}
