.countryPage {
  padding-top: 60px;
  height: 100%;
}

.columnLeft {
  padding: 0 24px 0 30px;
}

.hintText {
  font-size: 12px;
  text-decoration: underline;
}
.backLink {
  display: inline-block;
  position: relative;
  margin: 10px 0;
  font-size: 14px;
  border-bottom: 3px solid #2f2ffd;
  cursor: pointer;
}
.backLink:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -16px;
  margin-top: -6px;
  border-right: 8px solid #4848fb;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.countriesList {
  margin: 5px 0;
}
.countryItem {
  line-height: 16px;
}
.countryName {
  display: inline-block;
  font-size: 12px;
  border-bottom: 2px solid transparent;
  line-height: 1em;
  cursor: default;
}
.countryName.selected {
  border-color: #2f2ffd;
}

.columnRight {
  padding: 24px;
}
.detailCountry {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.025em;
  color: #58595B;
}
.smallTitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 13px;
  font-variant: small-caps;
  letter-spacing: 0.01em;
  color: #58595B;
  margin-top: 10px;
}
.smallText {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.01em;
  color: #9B9B9D;
}
.subtitleESR {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 0.025em;
  color: #2E65A1;
  margin: 20px 0 0;
}
.subtitleCPR {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 0.025em;
  color: #00A551;
  margin: 20px 0 0;
}
.barChartWrapper {
  margin-top: 15px;
}
.legend {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.01em;
  color: #FFA096;
}
.uncertaintyIcon {
  display: inline-block;
  height: 10px;
  width: 25px;
  border-left: 2px solid #FFA096;
  border-right: 2px solid #FFA096;
  margin-right: 10px;
}
.uncertaintyIcon:before {
  display: block;
  width: 100%;
  content: '';
  border-top: 2px solid #FFA096;
  margin-top: 4px;
}

.link {
  display: block;
  margin: 20px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.025em;
  line-height: 15px;
  color: #58595B;
}
