.clickable {
  cursor: pointer;
}
.clickable.esrRect:hover,
.clickable.cprRect:hover {
	opacity: 1;
}
.clickable.esrRect:hover rect:first-child {
  fill: #a1e2bc;
}

@media screen and (max-width:1359px) {
  text {
    font-size: 8px;
  }
}
